<mat-card>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Product name</mat-label>
      <input
        matInput
        #input
        maxlength="60"
        formControlName="name"
        placeholder="Ex. My Product"
      />
      <mat-hint align="end">{{ input.value.length || 0 }}/60</mat-hint>
    </mat-form-field>

    <mat-grid-list cols="2" rowHeight="100" gutterSize="10">
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Product price</mat-label>
          <input
            currencyMask
            matInput
            formControlName="price"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Product Serie</mat-label>
          <input matInput formControlName="serie" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_id">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{
          category.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <div class="flex-container">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Save
      </button>

      <button mat-raised-button color="warn" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </mat-card-actions>
</mat-card>
