<mat-card>
  <mat-toolbar color="primary">
    <div>Products</div>
    <div class="example-spacer"></div>
    <button
      mat-mini-fab
      matTooltip="Create product"
      matTooltipPosition="before"
      aria-label="Create product"
    >
      <mat-icon (click)="onAdd()">add</mat-icon>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name | uppercase }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price | currency: "BRL" }}
      </td>
    </ng-container>

    <!-- Serie Column -->
    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef>Serie</th>
      <td mat-cell *matCellDef="let element">{{ element.serie }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category_id">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element.category_id }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="btn-row">
          <div class="flex-container">
            <div class="btn-container">
              <button
                mat-icon-button
                matTooltip="Delete product"
                matTooltipPosition="before"
                aria-label="Delete product"
                color="warn"
                (click)="onDelete(element.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="btn-container">
              <button
                mat-icon-button
                matTooltip="Edit product"
                matTooltipPosition="before"
                aria-label="Edit product"
                color="primary"
                (click)="onEdit(element.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
