<mat-card>
  <mat-toolbar color="primary">
    <div>Categories</div>
    <div class="example-spacer"></div>
    <button
      mat-mini-fab
      matTooltip="Create category"
      matTooltipPosition="before"
      aria-label="Create category"
    >
      <mat-icon (click)="onAdd()">add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-table [dataSource]="categories" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{
        element.name | uppercase
      }}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="btn-row">
          <div class="flex-container">
            <div class="btn-container">
              <button
                mat-icon-button
                matTooltip="Edit product"
                matTooltipPosition="before"
                aria-label="Edit product"
                color="primary"
                (click)="onEdit(element.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
